/* .app {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0.5rem;

    font-size: 1rem;
}

input {
    width: clamp(3rem, 20vw, 6rem);
    height: clamp(2rem, 5vw, 3rem);
}

.wide {
    width: 7rem;
}

ul.flt-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    
    margin-bottom: 2rem;
}

.arr-dep {
    display: flex;
    flex-direction: column;
}

.header-list, .pax-cgo {
    margin: 1rem;
}

ul.header-list {
    display: flex;
    flex-direction: row;
}

.pax-cgo {
    display: grid;
    grid-template-columns: auto auto auto;
} */